<app-navbar></app-navbar>
<div class="tm-welcome">
    <div class="container">
        <div class="row ">
            <div class="col-12 ">
                <h2 class="mt-5 mx-3">Welcome</h2>
                <div class="d-flex justify-content-around mt-5">
                    <div class="background">
                        <div class="card card-img-top">
                            <img src="../../assets/welcome-images/tm-welcome.jpg" alt="image" />
                            <h3 class="card-body">Transportes</h3>
                            <h6 class="card-body">Most Trusted Transportes</h6>
                        </div>
                    </div>
                    <div class="background">
                        <div class="card card-img-top">
                            <img src="../../assets/welcome-images/tm-welcome.jpg" alt="image" />
                            <h3 class="card-body">Services</h3>
                            <h6 class="card-body">Most Trusted Transportes</h6>
                        </div>
                    </div>
                    <div class="background">
                        <div class="card card-img-top">
                            <img src="../../assets/welcome-images/warehouse.jpg" alt="image" />
                            <h3 class="card-body">Produts</h3>
                            <h6 class="card-body">Most Trusted Transportes</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>