.tm-welcome{
    background-image: url('../../assets/welcome-images/tm-wel.jpg') ;
    height: 590px;
    background-size: 100% 100%;
}
.card {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 300px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.card img {
    height: 60%;
}