<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
        <a class="navbar-brand text-white" routerLink="/welcome">Transport Managment</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
            <li class="nav-item ">
              <a class="nav-link active hover-link" routerLink="/createInstruction" aria-current="page">Instruction</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active hover-link" aria-current="page" routerLink="/scheduleTransport">Schedule
                Transport</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active hover-link" aria-current="page" routerLink="/pickupCargo">Pickup Cargo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active hover-link" aria-current="page" routerLink="/deliverCargo">Deliver Cargo </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active hover-link" aria-current="page" routerLink="/invoiceInstruction">Invoice
                Instruction </a>
            </li> -->
          </ul>
    
    </div>
  </div>
</nav>
<!-- 
<dx-navbar class="navbar bg-black navbar-dark" style="margin-bottom: 20px;">
  <div class="container">
    <dx-nav-item routerLink="/welcome" text="Transport Management" class="text-white" [active]="true"></dx-nav-item>
    <dx-nav-item routerLink="/createInstruction" text="Instruction"></dx-nav-item>
    <dx-nav-item routerLink="/scheduleTransport" text="Schedule transport"></dx-nav-item>
    <dx-nav-item routerLink="/pickupCargo" text="Pickup Cargo"></dx-nav-item>
    <dx-nav-item routerLink="/deliverCargo" text="Deliver Cargo"></dx-nav-item>
    <dx-nav-item routerLink="/invoiceInstruction" text="Invoice Instruction"></dx-nav-item>
  </div>
</dx-navbar> -->
